.101_6 { 
	overflow:hidden;
}.e101_6 { 
	background-color:rgba(114.0000008046627, 114.0000008046627, 114.0000008046627, 1);
	width:1080px;
	height:1920px;
	position:absolute;
}.e201_6 { 
	width:980px;
	height:268px;
	position:absolute;
	left:70px;
	top:54px;
}.e201_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:694px;
	height:260px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:300px;
}.e201_9 { 
	width:200px;
	height:200px;
	position:absolute;
	left:30px;
	top:30px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/user__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_23 { 
	color:rgba(0, 0, 0, 1);
	width:404px;
	height:94px;
	position:absolute;
	left:260px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e201_8 { 
	width:278px;
	height:250px;
	position:absolute;
	left:702px;
	top:5px;
}.e201_25 { 
	width:250px;
	height:250px;
	position:absolute;
	left:14px;
	top:0px;
}.e101_26 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e101_25 { 
	width:200.67567443847656px;
	height:150px;
	position:absolute;
	left:25px;
	top:50px;
	background-image:url(images/edit_hybrid_fitness_final_logo__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_28 { 
	width:945px;
	height:185px;
	position:absolute;
	left:70px;
	top:353px;
}.e201_10 { 
	width:945px;
	height:185px;
	position:absolute;
	left:0px;
	top:0px;
}.e101_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:945px;
	height:185px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:846px;
	height:60px;
	position:absolute;
	left:50px;
	top:34px;
}.e101_33 { 
	background-color:rgba(255, 240.08777618408203, 0, 1);
	width:518px;
	height:60px;
	position:absolute;
	left:50px;
	top:34px;
}.e101_31 { 
	color:rgba(0, 0, 0, 1);
	width:551px;
	height:45px;
	position:absolute;
	left:241px;
	top:113px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e101_32 { 
	color:rgba(0, 0, 0, 1);
	width:146.51162719726562px;
	height:67px;
	position:absolute;
	left:792px;
	top:45px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e101_35 { 
	background-color:rgba(255, 255, 255, 0.4300000071525574);
	width:1081.1334228515625px;
	height:974.1539916992188px;
	position:absolute;
	left:0px;
	top:939px;
	border-radius:Symbol(figma.mixed)px;
}.e201_45 { 
	width:927.1334228515625px;
	height:773.1539306640625px;
	position:absolute;
	left:77px;
	top:29px;
}.e101_40 { 
	color:rgba(0, 0, 0, 1);
	width:311.0382995605469px;
	height:57.33152389526367px;
	position:absolute;
	left:308.04754638671875px;
	top:0px;
	font-family:Comfortaa;
	text-align:left;
	font-size:60px;
	letter-spacing:-2;
}.e101_41 { 
	width:927.1334228515625px;
	height:138.98550415039062px;
	position:absolute;
	left:0px;
	top:110.33154296875px;
}.e101_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:927.1334228515625px;
	height:138.98550415039062px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}.e101_43 { 
	color:rgba(0, 0, 0, 1);
	width:311.0382995605469px;
	height:48.644927978515625px;
	position:absolute;
	left:43.365966796875px;
	top:46.90766143798828px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e101_44 { 
	width:318px;
	height:86.8659439086914px;
	position:absolute;
	left:494.5970458984375px;
	top:27.797128677368164px;
}.e101_45 { 
	background-color:rgba(252.87500202655792, 241.35271310806274, 55.84323227405548, 1);
	width:318px;
	height:86.8659439086914px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_46 { 
	color:rgba(0, 0, 0, 1);
	width:269.1677551269531px;
	height:48.644927978515625px;
	position:absolute;
	left:25.7939453125px;
	top:19.110544204711914px;
	font-family:Comfortaa;
	text-align:center;
	font-size:40px;
	letter-spacing:-2;
}.e101_48 { 
	width:927.1334228515625px;
	height:138.98550415039062px;
	position:absolute;
	left:0px;
	top:302.3170166015625px;
}.e101_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:927.1334228515625px;
	height:138.98550415039062px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}.e101_50 { 
	background-color:rgba(252.87500202655792, 241.35271310806274, 55.84323227405548, 1);
	width:318px;
	height:86.8659439086914px;
	position:absolute;
	left:494.5970458984375px;
	top:29.53448486328125px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_51 { 
	color:rgba(0, 0, 0, 1);
	width:269.1677551269531px;
	height:48.644927978515625px;
	position:absolute;
	left:520.3909912109375px;
	top:48.644935607910156px;
	font-family:Comfortaa;
	text-align:center;
	font-size:40px;
	letter-spacing:-2;
}.e101_53 { 
	color:rgba(0, 0, 0, 1);
	width:311.0382995605469px;
	height:48.644927978515625px;
	position:absolute;
	left:43.365966796875px;
	top:50.38229751586914px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e101_54 { 
	width:927.1334228515625px;
	height:138.98550415039062px;
	position:absolute;
	left:0px;
	top:494.302490234375px;
}.e101_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:927.1334228515625px;
	height:138.98550415039062px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}.e101_56 { 
	background-color:rgba(252.87500202655792, 241.35271310806274, 55.84323227405548, 1);
	width:318px;
	height:86.8659439086914px;
	position:absolute;
	left:494.5970458984375px;
	top:29.534423828125px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_57 { 
	color:rgba(0, 0, 0, 1);
	width:269.1677551269531px;
	height:48.644927978515625px;
	position:absolute;
	left:520.3909912109375px;
	top:52.11960983276367px;
	font-family:Comfortaa;
	text-align:center;
	font-size:40px;
	letter-spacing:-2;
}.e101_59 { 
	color:rgba(0, 0, 0, 1);
	width:311.0382995605469px;
	height:48.644927978515625px;
	position:absolute;
	left:43.365966796875px;
	top:55.59418869018555px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e101_37 { 
	width:388.7978820800781px;
	height:86.8659439086914px;
	position:absolute;
	left:269.16778564453125px;
	top:686.2879638671875px;
}.e101_38 { 
	background-color:rgba(252.87500202655792, 241.35271310806274, 55.84323227405548, 1);
	width:302.39837646484375px;
	height:86.8659439086914px;
	position:absolute;
	left:43.1998291015625px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_39 { 
	color:rgba(195.49999594688416, 189.79791551828384, 189.79791551828384, 1);
	width:388.7978820800781px;
	height:48.644927978515625px;
	position:absolute;
	left:2.2737367544323206e-13px;
	top:19px;
	font-family:Comfortaa;
	text-align:center;
	font-size:50px;
	letter-spacing:-2;
}.e101_7 { 
	transform: rotate(-90.1464344544625deg);
	width:150px;
	height:1080px;
	position:absolute;
	left:-0.005315724760293961px;
	top:1921.9200439453125px;
}.e201_14 { 
	width:150px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
}.e101_18 { 
	background-color:rgba(255, 240.08777618408203, 0, 1);
	width:150px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e101_12 { 
	transform: rotate(90.1464344544625deg);
	width:90px;
	height:91.3846206665039px;
	position:absolute;
	left:114.62235260009766px;
	top:147.91000366210938px;
	background-image:url(images/membership_card_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e201_13 { 
	width:150px;
	height:360px;
	position:absolute;
	left:0px;
	top:360px;
}.e101_19 { 
	background-color:rgba(255, 240.08777618408203, 0, 1);
	width:150px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e101_11 { 
	transform: rotate(90.1464344544625deg);
	width:90px;
	height:90px;
	position:absolute;
	left:113.65557861328125px;
	top:134.90762329101562px;
	background-image:url(images/ruler_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e201_12 { 
	width:150px;
	height:360px;
	position:absolute;
	left:0px;
	top:720px;
}.e101_20 { 
	background-color:rgba(255, 240.08777618408203, 0, 1);
	width:150px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e101_10 { 
	transform: rotate(90.1464344544625deg);
	width:90px;
	height:90px;
	position:absolute;
	left:113.68880462646484px;
	top:121.90765380859375px;
	background-image:url(images/weight_plates_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_73 { 
	background-color:rgba(255, 255, 255, 1);
	width:934px;
	height:305px;
	position:absolute;
	left:70px;
	top:594px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e103_75 { 
	width:295px;
	height:350px;
	position:absolute;
	left:104.5px;
	top:30px;
}.e201_46 { 
	width:208px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
}.e201_16 { 
	background-color:rgba(252.87500202655792, 241.35271310806274, 55.84323227405548, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}.e103_77 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:45px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e103_78 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:105px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/user__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e103_79 { 
	color:rgba(0, 0, 0, 1);
	width:295px;
	height:45px;
	position:absolute;
	left:0px;
	top:305px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e103_80 { 
	width:430px;
	height:250px;
	position:absolute;
	left:399.5px;
	top:30px;
}.e103_81 { 
	background-color:rgba(252.87500202655792, 241.35271310806274, 55.84323227405548, 1);
	width:199px;
	height:60px;
	position:absolute;
	left:0px;
	top:10px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e103_82 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:45px;
	position:absolute;
	left:17px;
	top:20px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e103_83 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:45px;
	position:absolute;
	left:222px;
	top:205px;
	font-family:Comfortaa;
	text-align:left;
	font-size:40px;
	letter-spacing:-2;
}.e103_84 { 
	width:200px;
	height:200px;
	position:absolute;
	left:213px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/user__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}